<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttt.qx.qxcall">

    <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.LauncherProvider" />
    <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- 网易云 即时通讯以及音视频第三方使用相关 配置 start -->
    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.qx 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.ttt.qx.qxcall.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.qx 替换为自己的包名 -->
    <uses-permission android:name="com.ttt.demo.imdemo.permission.RECEIVE_MSG" />

    <!-- 网易云 即时通讯以及音视频第三方使用相关 配置 end -->
    <application
        android:name=".QXCallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/temp_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.ttt.qx.qxcall.GlideConfiguration"
            android:value="GlideModule" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59cb3b356e27a46aba000012" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="XiaoMi" />

        <!-- 高德地图 配置  -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3f6b6504144955017e07d2a39b13332e">
        </meta-data>
        <service android:name="com.amap.api.location.APSService"></service>

        <!-- 友盟第三方使用相关 配置 start -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--
                     <activity
                     android:name=".apshare.ShareEntryActivity"
                     android:configChanges="keyboardHidden|orientation|screenSize"
                     android:exported="true"
                     android:screenOrientation="portrait"
                     android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        -->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 注意需要改成自己的id     101413731 -->
                <data android:scheme="tencent1106479676" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟第三方使用相关 配置 end -->

        <service android:name=".service.DownloadService" />

        <activity
            android:name=".function.home.view.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 网易云 即时通讯以及音视频第三方使用相关 配置 start -->
        <!--
           APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
           如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="89b05ce76ae7bd1d16c088850a95ad0e" />

        <!-- 声明网易云通信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 声明网易云通信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />
        <service android:name=".function.voice.floatw.WindowService" />
        <service
            android:name=".function.voice.floatw.FloatViewService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".function.voice.floatw.PiPeiFloatViewService"
            android:enabled="true"
            android:exported="true" />
        <!--
             网易云通信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程
        -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 网易云通信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- &lt;!&ndash; 安卓保活配置 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="com.netease.cosine.core.CosineService" -->
        <!-- android:process=":cosine"> -->
        <!-- </service> -->


        <!-- <receiver -->
        <!-- android:name="com.netease.cosine.target.CosineReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:process=":cosine"> -->
        <!-- </receiver> -->

        <meta-data
            android:name="com.netease.cosine.target"
            android:value="" />
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver" />
        <!-- 申明本地电话状态（通话状态）的广播接收器，第三方APP集成时音视频模块时，如果需要在App中处理网络通话与本地电话的交互请加上此接收器 -->
        <receiver android:name=".receiver.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <!-- 网易云 即时通讯以及音视频第三方使用相关 配置 end -->


        <!-- 支付宝配置 start -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝配置 end -->

        <activity
            android:name=".function.login.view.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.IdentifyAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.AboutQxcallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MemberCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.listen.view.StealListenDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.SetUserTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MyServerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MineBlacksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.SetUserSkilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.PayDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.SetUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.message.view.SystemNotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.alipay.OpenOrderPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MyVIPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.EarnBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.SetCallPriceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MentionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.MyProfitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.InvitedFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.LoginTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.UserMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.UserMainEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.login.view.VIPBuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.find.view.PostDeatailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.home.view.IDSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.home.view.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.home.view.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.home.view.VisitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.voice.AVChatActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.find.view.PublishDynamicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.register.view.UserBaseInfoActivity"
            android:screenOrientation="portrait" />

        <!-- UIKit库相关配置start -->
        <meta-data
            android:name="com.netease.nim.uikit.glide.NIMGlideModule"
            android:value="GlideModule" />

        <!-- 会话窗口 -->
        <!--
             UI组件中包含了语音选文字功能，该界面是全屏显示，为了视觉上的美观，该界面主题ActionBar使用Overlay模式。
             如果开发者不需要该功能或效果，使用普通主题即可。 同时，还需要将message_activity.xml这个layout中的根节点的paddingTop去掉。
        -->
        <activity
            android:name="com.netease.nim.uikit.session.activity.P2PMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.session.activity.TeamMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 群聊 -->
        <activity
            android:name="com.netease.nim.uikit.team.activity.NormalTeamInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.AdvancedTeamInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.AdvancedTeamMemberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.AdvancedTeamAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.AdvancedTeamMemberInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.AdvancedTeamNicknameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.AdvancedTeamCreateAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.team.activity.TeamPropertySettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 联系人选择器 -->
        <activity
            android:name="com.netease.nim.uikit.contact_selector.activity.ContactSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/contact_selector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- @ 选择器 -->
        <activity
            android:name="com.netease.nim.uikit.ait.selector.AitContactSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 照片选择 -->
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromLocalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/input_panel_take"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 视频 -->
        <activity
            android:name="com.netease.nim.uikit.session.activity.CaptureVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.session.activity.WatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/video_play"
            android:theme="@style/DarkTheme" />

        <!-- 查看大图 -->
        <activity
            android:name="com.netease.nim.uikit.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="com.netease.nim.uikit.common.media.picker.model.GenericFileProvider"
            android:authorities="${applicationId}.generic.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 启动页面    zhaozhipeng -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplshTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录  zhaozhipeng -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/SplshTheme"></activity>
        <!-- 注册  zhaozhipeng -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplshTheme"></activity>
        <!-- 完善资料    zhaozhipeng -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NRegisterUserEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplshTheme"></activity>
        <!-- 首页  加载更多 -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NOneFragmentMoreActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 首页  跑话题 -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NPaoHaTiActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 首页  一件匹配 -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NYiJianPiPeiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PiPeiTheme"></activity>
        <!-- 朋友圈 -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NPengYouQuanActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 用户资料主页 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NZhiLiaoActivity"   android:screenOrientation="portrait"></activity>
        <!-- 撒狗粮 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.SaGouLiangActivity"   android:screenOrientation="portrait"></activity>
        <!-- 偷听列表 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NTouTingActivity"   android:screenOrientation="portrait"></activity>
        <!-- 朋友圈详情 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.PengYouQuanDetailActivity"   android:screenOrientation="portrait"></activity>
        <!-- 礼物榜 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.LiWuBangActivity"   android:screenOrientation="portrait"></activity>
        <!-- 我的页面礼物榜 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NMyLiWuBangActivity"   android:screenOrientation="portrait"></activity>
        <!-- Top榜 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NTopBangActivity"   android:screenOrientation="portrait"></activity>
        <!-- 撩人区 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NLiaoRenQuActivity"   android:screenOrientation="portrait"></activity>
        <!-- 守护榜 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NShouHuBangActivity"   android:screenOrientation="portrait"></activity>
        <!-- 个人资料 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NPersonCenterActivity"   android:screenOrientation="portrait"></activity>
        <!-- 设置页面 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NSettingActivity"   android:screenOrientation="portrait"></activity>
        <!-- 撩汉区 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.LiaoHanQuActivity"   android:screenOrientation="portrait"></activity>
        <!-- 撩妹区 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.LiaoMeiQuActivity"   android:screenOrientation="portrait"></activity>
        <!-- 相册 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NXiangCheActivity"   android:screenOrientation="portrait"></activity>
        <!-- 购买VIP -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NGouMaiVipActivity"   android:screenOrientation="portrait"></activity>
        <!-- VIP中心 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.VipCenterActivity"   android:screenOrientation="portrait"></activity>
        <!-- 我的收益 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NMyShouYiActivity"   android:screenOrientation="portrait"></activity>
        <!-- 收支明细 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NShouZhiMingXiActivity"   android:screenOrientation="portrait"></activity>
        <!-- 粉丝列表 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NFansListActivity"   android:screenOrientation="portrait"></activity>
        <!-- 我的邀请 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NMyYaoQingActivity"   android:screenOrientation="portrait"></activity>
        <!-- 充值 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NChongZhiActivity"   android:screenOrientation="portrait"></activity>
        <!-- 专属匹配 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NZhuanShuPiPeiActivity"   android:screenOrientation="portrait"></activity>
        <!-- 选择守护 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.XuanZheShouHuActivity"   android:screenOrientation="portrait"></activity>
        <!-- 角色扮演 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.BanYanActivity"   android:screenOrientation="portrait"></activity>
        <!-- 语音聊天页面 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NHuaLiaoActivity"    android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <!-- 语音聊天偷听页面 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NHuaLiaoTouTingActivity"   android:launchMode="singleInstance"  android:screenOrientation="portrait"></activity>
        <!-- 小情趣发布 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NFaTieActivity"   android:screenOrientation="portrait"></activity>
        <!-- 朋友圈发布 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NPengYouQuanFaBuActivity"   android:screenOrientation="portrait"></activity>
        <!-- 意见反馈 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NFeedBackActivity"   android:screenOrientation="portrait"></activity>
        <!-- 小情趣，查看更多 -->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NQingQuListActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NTiXianActivity"   android:screenOrientation="portrait"></activity>
        <!-- 网页基类-->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.BaseWebViewActivity"   android:screenOrientation="portrait"></activity>
        <!--发布撒狗粮-->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.PublishSGLActivity"   android:screenOrientation="portrait"></activity>
        <!--小情趣详情-->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NQingQuDetailActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NKaiTongShouHuActivity"   android:screenOrientation="portrait">
        </activity>
        <!--查看相册-->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NXiangCheChaKanActivity"   android:screenOrientation="portrait"/>
        <!--用户协议-->
        <activity android:name="com.ysxsoft.qxerkai.view.activity.NUserProtocolActivity"   android:screenOrientation="portrait"/>
        <!--守护 搜索页-->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NShouHuSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <!--角色扮演 搜索页-->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NBanYanSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 一键匹配来电页面 -->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.PiPeiCallActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 我的  我的朋友圈-->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NPengYouQuanMyActivity"
            android:screenOrientation="portrait"></activity>
        <!--账户安全-->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NAccountSafeActivity"
            android:screenOrientation="portrait"></activity>
        <!--修改密码-->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NUpdatePwdActivity"
            android:screenOrientation="portrait"></activity>
        <!--修改手机号-->
        <activity
            android:name="com.ysxsoft.qxerkai.view.activity.NUpdatePhoneActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>